mixin palette-item(name, color, mod, className='')
    
    div(class=`palette-item ${className}`)
        div(class=`palette-item__box palette-item__box${mod}`)
        .text-container
            p.palette-item__name= name
                br
                span.palette-item__digit= color
