include ./palette-item/palette-item


mixin color-palette
    +palette-item('Dark Shade 100%', '#1F2041', '_dark100')
    +palette-item('Dark Shade 75%', '#1F2041', '_dark75')
    +palette-item('Dark Shade 50%', '#1F2041', '_dark50')
    +palette-item('Dark Shade 25%', '#1F2041', '_dark25')
    +palette-item('Dark Shade 5%', '#1F2041', '_dark05')
    +palette-item('Purple', '#BC9CFF', '_green')
    +palette-item('Green', '#6FCF97', '_purple')
    