include ../../elements/select__item/select__item
mixin dropDown(type)
    .select(type=type)
        .select__header
            span.select__current Сколько гостей
            .select__icon  <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" viewBox="0 0 18 18"><path d="M12.44 6.44L9 9.88 5.56 6.44 4.5 7.5 9 12l4.5-4.5z"/></svg> 
        .select__body()

            +select__item('взрослые', 'adult')
            +select__item('дети', 'child')
            +select__item('младенцы', 'baby')

            .select__buttons
                .select__clear(disabled='') очистить
                .select__accept применить
            