$dark-shade: #1f2041;
$dark-shade75: rgba(#1f2041, .75);
$dark-shade50: rgba(#1f2041, .5);
$dark-shade25: rgba(#1f2041, .25);
$dark-shade05: rgba(#1f2041, .05);
$purple: #BC9CFF;
$green: #6FCF97;




html{
    box-sizing: border-box;
}
  *,
  *::before,
  *::after{
    box-sizing: inherit;
}
body{
    margin: 0;
}
a{
    display: inline-block;
    text-decoration: none;
    color: #fff;
}
ul,
li{
    list-style: none;
    margin: 0;
    padding: 0;
}
.container{
    width: 100%;
    margin: 0 auto;
}