extends ../layout/main  



block content
    .page-content
        .container__palette
            include ../../utils/ui-kit/color-palette/color-palette
        .container__fonts
            include ../../utils/ui-kit/fonts