include ../utils/mixins
include ../utils/ui-kit/color-palette/color-palette

block variables

<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title #{title}
        meta(name="desription", content=desription)
        link(href="https://fonts.googleapis.com/css?family=Quicksand:400,700&display=swap" rel="stylesheet")

    body(class=pageClass) 
        .wrapper
            .content-wrapper
                block content
            
